@use "../../global" as g;

/*!
page > blog > pagination
------------------------------
*/

.archive-pagination-wrap {
  width: fit-content;
  margin: 40px auto 0;

  @include g.mq(){
    margin-top: 48px;
  }
}

.archive-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.archive-pagination-item{
  border: 1px solid var(--color-border-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 1;
  color: var(--color-font-base);
  transition: all 0.15s linear;

  @include g.mq(){
    font-size: 16px;
    width: 40px;
    height: 40px;
  }

  &--border{
    border: transparent;
  }

  &--active{
    background-color: var(--color-bg-black);
    color: var(--color-font-white);
    pointer-events: none;
  }
}

.pagination-item-link:not(.--pagination-active):hover {
  background-color: var(--color-bg-black);
  color: var(--color-font-white);
}