@use "../../global" as g;

/*!
page > blog > archive
------------------------------
*/

.archive-container {
  display: grid;
  gap: 40px;

  @include g.mq(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include g.mq() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include g.mq(lg) {
    gap: 48px 30px;
  }
}
