@use "../../global" as g;

/*!
page > top > menu
------------------------------
*/

.top-menu-container {
  color: var(--color-font-white);
  background-image: url(../img/bg-top-menu-sp.jpg);
  background-size: cover;

  @include g.mq() {
    background-image: url(../img/bg-top-menu.jpg);
  }
}

.top-menu-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 40px 0;

  @include g.mq() {
    grid-template-columns: repeat(2, 1fr);
    gap: 62px;
    margin: 48px 0;
  }
}

.top-menu-list-title {
  font-family: var(--font-family-english);
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.08em;
  margin-bottom: 16px;

  @include g.mq() {
    font-size: 20px;
  }
}

.top-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-white);
  padding: 8px 0;

  & dd {
    font-size: 16px;
  }
}

.top-menu-item:first-child {
  padding-top: 0;
}
